@model miranaSolution.Dtos.Common.PagedResult<miranaSolution.Dtos.Catalog.Books.BookDto>

@section Styles {
    <link rel="stylesheet" href="~/css/books/index.css">
}

<h1 class="mt-4">Books</h1>
<div class="card mb-4">
    <div class="card-header">
        <a asp-action="Create" class="btn btn-success"><i class="fa-solid fa-plus"></i> Create new</a>
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Author</th>
                <th>Updated At</th>
                <th>Is Recommended</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var book in Model.Items)
            {
                <tr>
                    <td>@book.Id</td>
                    <td>@book.Name</td>
                    <td>@book.AuthorName</td>
                    <td>@book.UpdatedAt</td>
                    <td>
                        @if (book.IsRecommended)
                        {
                            <span class="text-success">
                                @book.IsRecommended
                            </span>
                        }
                        else
                        {
                            <span class="text-danger">
                                 @book.IsRecommended
                            </span>
                        }
                    </td>
                    <td>
                        <div class="row-table-action">
                            <a href="#" title="Chapters">
                                <i class="fa-solid fa-book"></i>
                            </a>
                            
                            <a href="#" title="Edit">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    
    <div class="card-body">
        @await Component.InvokeAsync("Pager", Model)
    </div>
    
</div>