@using miranaSolution.DTOs.Common
@using miranaSolution.Admin.ViewModels.Common
@model miranaSolution.API.ViewModels.Books.ApiGetAllBooksResponse

@{
    ViewData["title"] = "Books";
}

@section LibResources
{
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet"/>
}

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
    <script src="~/js/datatables-simple-demo.js"></script>
}

<h1 class="mt-4">Books</h1>
<div class="card mb-4">
    <div class="card-header d-flex justify-content-between">
        <a asp-action="Create" class="btn btn-success"><i class="fa-solid fa-plus"></i> Create new</a>
    
        <form method="GET">
            <div class="input-group">
                <input name="keyword" class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch"/>
                <button class="btn btn-primary" id="btnNavbarSearch" type="button">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </form>
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Author</th>
                <th>Updated At</th>
                <th>Is Recommended</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var book in Model.Books)
            {
                <tr>
                    <td>@book.Id</td>
                    <td>@book.Name</td>
                    <td>@book.AuthorName</td>
                    <td>@book.UpdatedAt</td>
                    <td>
                        @if (book.IsRecommended)
                        {
                            <span class="text-success">
                                @book.IsRecommended
                            </span>
                        }
                        else
                        {
                            <span class="text-danger">
                                @book.IsRecommended
                            </span>
                        }
                    </td>
                    <td>
                        <div class="row-table-action">
                            <a asp-action="ShowChapters" asp-route-id="@book.Id" title="Chapters">
                                <i class="fa-solid fa-book"></i>
                            </a>

                            <a asp-route-id="@book.Id" asp-action="Edit" title="Edit">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                            
                            <a asp-route-id="@book.Id" asp-action="AssignGenres" title="Assign Genres">
                                <i class="fa-solid fa-layer-group"></i>
                            </a>
                            
                            <form method="POST" asp-action="DeleteBook" asp-route-id="@book.Id">
                                <button title="Delete" type="submit" class="p-0 text-danger bg-transparent border-0">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>

    <div class="card-body">
        @await Component.InvokeAsync("Pager", new PagerResult(
                   Model.PageIndex, Model.PageSize, Model.TotalPages))
    </div>

</div>