@model miranaSolution.Admin.ViewModels.Books.UpdateChapterPreviousIndexViewModel

@{
    ViewData["title"] = "Update next of chapter #" + ViewBag.Chapter.Index;
}

<h1 class="mt-4">Update next of chapter #@ViewBag.Chapter.Index</h1>
<div class="card mb-4">
    <div class="card-header">
        <a
            asp-action="ShowChapters"
            asp-route-id="@ViewBag.Chapter.BookId"
            class="btn btn-danger">
            Back
        </a>
    </div>
    <div class="card-body">
        <form id="remove-form" asp-action="RemoveChapterPreviousIndex" asp-route-id="@ViewBag.Chapter.BookId" asp-route-index="@ViewBag.Chapter.Index" method="POST">
        </form>
        
        <form asp-route-id="@ViewBag.Chapter.BookId" asp-route-index="@ViewBag.Chapter.Index" enctype="multipart/form-data" asp-action="UpdateChapterPreviousIndex" method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="PreviousIndex">Previous Index</label>
                <div class="d-flex flex-row gap-2">
                    <input class="form-control" placeholder="Enter previous index" asp-for="PreviousIndex" min="1">
                    <button type="submit" class="btn btn-danger" form="remove-form">
                        <i class="fa-solid fa-x"></i>
                    </button>
                </div>
                <span asp-validation-for="PreviousIndex" class="text-danger form-text"></span>
            </div>

            <button type="submit" class="btn btn-primary mt-4">Submit</button>
        </form>
    </div>
</div>